<div>
		<div>
		<select class="btn btn-secondary dropdown-toggle" [(ngModel)]="catstring">
			<option *ngFor="let category of dropDown"  [value]="category">{{category}}</option>
		  </select>
		</div>


	<form class="form-group input-group m-0" (submit)="search()">
		<input
			type="text"
			class="form-control searchbar"
			placeholder="Search terms"
			(keyup)="update($event)"
		/>
		<div class="input-group-append">
			<button type="submit" class="btn btn-primary">
				<span class="fa fa-search"></span>
			</button>
		</div>
		
	</form>
</div>
