<div class="main">
	<div class="d-inline-flex">
		<select
			class="btn btn-secondary dropdown-toggle element selectlist"
			[(ngModel)]="catstring"
			(change)="clear()"
		>
			<option *ngFor="let category of dropDown" [value]="category"
				>{{ category }}
			</option>
		</select>

		<input
			[(ngModel)]="searchVal"
			name="searchVal"
			type="text"
			class="form-control searchbar element"
			placeholder="Search terms"
			autocomplete="off"
			(keyup)="update($event)"
		/>

		<button (click)="search()" class="btn btn-primary element searchbtn">
			<span class="fa fa-search"></span>
		</button>
	</div>

	<div *ngIf="suggestionlist.length > 0">
		<li class="suggestionlist">
			<ul
				class="suggestionitem"
				*ngFor="let suggestion of suggestionlist"
				(click)="updatesearch(suggestion)"
			>
				{{
					suggestion
				}}
			</ul>
		</li>
	</div>
</div>
