<div class="main">
	<div class="head d-flex">
		<a href="/">
			<img src="assets/img/logo.png" alt="cz4034" class="logo" />
		</a>

		<div class="search">
			<app-searchbar></app-searchbar>
		</div>
	</div>

	<hr />

	<div>
		<p>
			Displaying results for <b>{{ search }}</b>
		</p>
		<p *ngIf="suggestionExist">
			Do you mean <a>{{ suggestion }}</a
			>?
		</p>
	</div>

	<app-individualresult
		*ngFor="let item of resultList"
		[resultinstance]="item"
	>
	</app-individualresult>

	<hr />

	<div class="footer">
		<div class="pages">
			<button
				*ngFor="let item of pageRange"
				[class]="
					this.currentpage == item
						? 'pagebtn btn btn-primary'
						: 'pagebtn btn btn-secondary'
				"
				(click)="changePage(item)"
			>
				{{ item }}
			</button>
		</div>
	</div>
</div>
