<div class="main">
	<div class="search">
		<app-searchbar></app-searchbar>
	</div>

	<hr />

	<div>
	<p>
		Displaying results for <b>{{ search }}</b>
	</p>
	<p *ngIf="suggestionExist" >
		Do you mean <a>{{suggestion}}</a>?
	</p>
	<div>
		<select class="btn btn-secondary dropdown-toggle" (change) = "sortArray()" [(ngModel)]="sortingselected">
			<option *ngFor="let sortitem of sortingmethods"  [value]="sortitem">{{sortitem}}</option>
		  </select>
		</div>
	</div>

	<app-individualresult
		*ngFor="let item of resultList"
		[resultinstance]="item"
	>
	</app-individualresult>
</div>
