
<div class="card" *ngFor="let review of reviewInst">

    <div [ngClass]="{'red-background': review.useful==0, 'green-background': review.useful==1}"   > 
        {{review.username}}<br />
        {{review.review}}<br />
        usefulness: {{review.useful}}<br />
        sentiment: {{review.sentiment}}<br />
 
        <div *ngIf="review.sentiment < 0 " >
            😠
        </div>
        <div *ngIf="review.sentiment > 0 " >
            😀
        </div>
        <div *ngIf="review.sentiment == 0 " >
            😐
        </div>

        <button type="submit" class="btn btn-primary" (click)="frequent_string(review.review)">
            <span class="fa fa-plus"></span>
        </button>

    </div>

</div>


