<div class="main">
	<div class="d-flex">
		<div class="leftdiv">
			<img
				class="thumbnail"
				width="150"
				height="150"
				[src]="resultinstance.icon"
			/>
			<div>
				<button
					[class]="
						currentTab == 'Apps'
							? 'navbtn btn btn-primary'
							: 'navbtn btn btn-secondary'
					"
					(click)="changeTab('Apps')"
				>
					Description
				</button>
				<button
					[class]="
						currentTab == 'Reviews'
							? 'navbtn btn btn-primary'
							: 'navbtn btn btn-secondary'
					"
					(click)="changeTab('Reviews')"
				>
					Reviews
				</button>


			</div>
		</div>

		<div class="rightdiv">
			<div class="title">
				<h2>{{ this.resultinstance.title }}</h2>
			</div>
			<div class="scrollable card">
				<div *ngIf="this.currentTab == 'Reviews'; else notReview">
					<app-appreview
						[appId]="this.resultinstance.appId"
					></app-appreview>
				</div>
				<ng-template #notReview>
					<app-description
						[title]="this.resultinstance.title"
					></app-description>
				</ng-template>
			</div>
		</div>
	</div>
</div>
